<!--https://www.wrappixel.com/templates/flexy-admin-lite/-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="msp, network, monitoring, open source">
    <meta name="description"
          content="An open source network monitoring solutions designed for MSPs">
    <meta name="robots" content="noindex,nofollow">
    <title>netwatcher - {{.title}}</title>
    <link rel="canonical" href="https://www.wrappixel.com/templates/Flexy-admin-lite/" />
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
    <!-- Custom CSS -->
    <link href="/libs/chartist/dist/chartist.min.css" rel="stylesheet">
    <link href="/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/css/style.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<script src="https://d3js.org/d3.v4.js"></script>
<script src="https://kit.fontawesome.com/54973a0a98.js" crossorigin="anonymous"></script>