<header class="topbar" data-navbarbg="skin6">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <div class="navbar-header" data-logobg="skin6">
            <!-- ============================================================== -->
            <!-- Logo -->
            <!-- ============================================================== -->
            <a class="navbar-brand" href="/">
                <span class="logo-text">
                    <h2>netwatcher</h2>
                        </span>
            </a>
            <!-- This is for the sidebar toggle which is visible on mobile only -->
            <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i
                    class="mdi mdi-menu"></i></a>
        </div>
        <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
            <ul class="navbar-nav float-start me-auto">
            </ul>
            <ul class="navbar-nav float-end">
                <li class="nav-item dropdown">
                    <!--TODO add dropdown to select site-->
                    <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="/images/users/profile.webp" alt="user" class="rounded-circle" width="40">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end user-dd animated" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/profile"><i class="ti-user m-r-5 m-l-5"></i>
                            Profile</a>
                        <a class="dropdown-item" href="/sites"><i class="ti-map m-r-5 m-l-5"></i>
                            Sites</a>
                        <!--<a class="dropdown-item" href="/logout"><i class="ti-key m-r-5 m-l-5"></i>
                            Logout</a>-->
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
<aside class="left-sidebar" data-sidebarbg="skin6">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                             href="/" aria-expanded="false"><i class="mdi mdi-home"></i><span
                        class="hide-menu">home</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                             href="/dashboard" aria-expanded="false"><i
                        class="mdi mdi-view-dashboard"></i><span class="hide-menu">dashboard</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                             href="/agents" aria-expanded="false"><i class="mdi mdi-server"></i><span
                        class="hide-menu">agents</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                             href="/map" aria-expanded="false"><i class="mdi mdi-map"></i><span
                        class="hide-menu">map</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                             href="/alerts" aria-expanded="false"><i class="mdi mdi-alert-circle"></i><span
                        class="hide-menu">alerts</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                             href="/manage" aria-expanded="false"><i class="mdi mdi-settings"></i><span
                        class="hide-menu">manage</span></a></li>
                <li class="text-center p-40 upgrade-btn">
                    <a href="/logout"
                       class="btn d-block w-100 btn-danger text-white" target="_blank">logout</a>
                </li>
            </ul>

        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>