<!-- ============================================================= -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================= -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <!--<li class="nav-small-cap">
                    <i class="nav-small-line"></i>
                    <span class="hide-menu">Dashboards</span>
                </li>-->
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                             href="/home" aria-expanded="false"><i class="mdi mdi-home"></i><span
                        class="hide-menu">home</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                             href="/sites" aria-expanded="false"><i
                        class="mdi mdi-access-point-network"></i><span class="hide-menu">sites</span></a></li>
                <li class="nav-small-line">
                   <!-- <i class="nav-small-line"></i>
                    <span class="hide-menu">site</span>-->
                    <!--TODO show which site is selected -->
                </li>
                {{if .siteSelected}}
                <li class="nav-small-cap">
                    <span class="hide-menu"><b>{{.siteName}}</b></span>
                </li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                             href="/site/{{.siteId}}" aria-expanded="false"><i
                        class="mdi mdi-view-dashboard"></i><span class="hide-menu">dashboard</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                             href="/agents/{{.siteId}}" aria-expanded="false"><i class="mdi mdi-server"></i><span
                        class="hide-menu">agents</span></a></li>
                <!--<li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                             href="/speedtests/{{.siteId}}" aria-expanded="false"><i class="mdi mdi-speedometer"></i><span
                        class="hide-menu">speedtests</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                             href="/traceroutes/{{.sitesId}}" aria-expanded="false"><i class="mdi mdi-map"></i><span
                        class="hide-menu">speedtests</span></a></li>-->
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                             href="/alerts/{{.siteId}}" aria-expanded="false"><i class="mdi mdi-alert-circle"></i><span
                        class="hide-menu">alerts</span></a></li>
                <!-- TODO Check if member has correct role and display correct options -->
                <li class="nav-small-line">
                    <!-- <i class="nav-small-line"></i>
                     <span class="hide-menu">site</span>-->
                    <!--TODO show which site is selected -->
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><span class="hide-menu"><i class="fa fa-cogs"></i> manage site</span></a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="/site/{{.siteId}}/settings" class="sidebar-link"><i class="fa fa-cog"></i><span class="hide-menu">settings</span></a>
                            <a href="/site/{{.siteId}}/members" class="sidebar-link"><i class="fa fa-users"></i><span class="hide-menu">members</span></a>
                                <!--<a href="/site/delete/{{.siteId}}" class="sidebar-link">
                                        <i class="fa fa-trash"></i><span class="hide-menu text-danger">delete</span></a>-->
                        </li>
                    </ul>
                </li>
                {{end}}
                <li class="nav-devider">
                    <!-- <i class="nav-small-line"></i>
                     <span class="hide-menu">site</span>-->
                    <!--TODO show which site is selected -->
                </li>
                <li class="sidebar-item"> <a class="sidebar-link btn-light waves-effect waves-dark sidebar-link"
                                             href="/logout" aria-expanded="false"><i class="mdi mdi-logout"></i><span
                        class="hide-menu">logout</span></a></li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->