<div class="page-titles">
  <div class="row">
    <div class="col-lg-8 col-md-6 col-12 align-self-center">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0 d-flex align-items-center">
          <li class="breadcrumb-item">
            <a href="/home" class="link"><i class="ri-home-3-line fs-5"></i></a>
          </li>
          {{if .siteSelected}}
          <li class="breadcrumb-item">
            {{.siteName}}
          </li>
          {{end}}
          <li class="breadcrumb-item active" aria-current="page">
            {{.title}}
          </li>
        </ol>
      </nav>
      <h1 class="mb-0 fw-bold">{{.title}}</h1>
    </div>

    <div class="
                col-lg-4 col-md-6
                d-none d-md-flex
                align-items-center
                justify-content-end
              ">
      <a href="/check/new/{{.agentId}}" class="btn btn-info d-flex align-items-center ms-2">
        <i class="mdi mdi-plus-box-outline"></i>
            create new check
      </a>
    </div>

  </div>
</div>

<div class="container-fluid">
  <!-- Row -->
  <div class="row">
    {{if .online}}
    <div class="col-lg-3 col-md-4">
      <div class="card border-bottom border-success">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div>
              <h2>online</h2>
              <!--TODO make change color depending on status-->
              <h6 class="text-success mb-0">status</h6>
            </div>
            <div class="ms-auto">
              <span class="text-success display-6">
                <i class="fa fa-arrow-up"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{else}}
    <div class="col-lg-3 col-md-4">
      <div class="card border-bottom border-danger">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div>
              <h2>offline</h2>
              <!--TODO make change color depending on status-->
              <h6 class="text-danger mb-0">status</h6>
            </div>
            <div class="ms-auto">
              <span class="text-danger display-6">
                <i class="fa fa-arrow-down"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{end}}
    <div class="col-lg-3 col-md-4">
      <div class="card border-bottom border-info">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div>
              <h2>{{.localAddress}}</h2>
              <h6 class="text-info mb-0">local ip</h6>
            </div>
            <div class="ms-auto">
              <span class="text-info display-6">
                <i class="fa fa-home"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card border-bottom border-primary">
        <div class="card-body">
          <div class="d-flex no-block align-items-center">
            <div>
              <h2>{{.defaultGateway}}</h2>
              <h6 class="text-primary mb-0">default gateway</h6>
            </div>
            <div class="ms-auto">
              <span class="text-primary display-6">
                <i class="fa fa-compass"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card border-bottom border-purple">
        <div class="card-body">
          <div class="d-flex no-block align-items-center">
            <div>
              <h2>{{.publicAddress}}</h2>
              <h6 class="text-purple mb-0">public ip</h6>
            </div>
            <div class="ms-auto">
              <span class="text-purple display-6">
                <i class="fa fa-globe"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
  <div class="col-lg-4 col-md-6">
    <div class="card border-bottom border-orange">
      <div class="card-body">
        <div class="d-flex no-block align-items-center">
          <div>
            <h2>{{.internetProvider}}</h2>
            <h6 class="text-orange mb-0">isp</h6>
          </div>
          <div class="ms-auto">
              <span class="text-orange display-6">
                <i class="fa fa-compass"></i>
              </span>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="col-lg-4 col-md-6">
      <div class="card border-bottom border-dark">
        <div class="card-body">
          <div class="d-flex no-block align-items-center">
            <div>
              <h2>{{.uploadSpeed}}mbps</h2>
              <h6 class="text-dark mb-0">upload speed</h6>
            </div>
            <div class="ms-auto">
              <span class="text-dark display-6">
                <i class="fa fa-upload"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card border-bottom border-dark">
        <div class="card-body">
          <div class="d-flex no-block align-items-center">
            <div>
              <h2>{{.downloadSpeed}}mbps</h2>
              <h6 class="text-dark mb-0">download speed</h6>
            </div>
            <div class="ms-auto">
              <span class="text-dark display-6">
                <i class="fa fa-download"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="
              d-flex
              border-bottom
              title-part-padding
              px-0
              mb-3
              align-items-center
            ">
    <div>
      <h4 class="mb-0">checks</h4>
    </div>
  </div>

  {{if .hasAC}}
  <div class="row" id="checks">
  </div>
  {{else}}
  <div class="row">
    <div class="col-lg-12">
      <div class="error-body text-center">
        <h1 class="error-title text-danger">no checks</h1>
        <h3 class="text-error-subtitle">please create a new check</h3>
        <!-- <p class="text-muted m-t-30 m-b-30">YOU SEEM TO BE TRYING TO FIND HIS WAY HOME</p>
         <a href="/" class="btn btn-danger btn-rounded waves-effect waves-light m-b-40 text-white">Back to home</a>-->
      </div>
    </div>
  </div>
  {{end}}

<script>
  let agentChecks = JSON.parse("{{.agentChecks}}")
  let parser = new DOMParser();

  const checks = document.getElementById("checks");

  for (let i = 0; i < agentChecks.length; i++) {
    let type = agentChecks[i]["type"]
    let target = agentChecks[i]["target"]

    let color = 'bg-danger'
    let icon = 'ri-information-line'
    let desc = 'click to view'
    if (type == "MTR"){
      color = 'bg-success'
      icon = 'ri-route-line'
      desc = '<b>'+target+'</b>\nclick to view'
    }else if (type == "RPERF"){
      color = 'bg-dark'
      icon = 'ri-line-chart-fill'
    }else if (type == "NETINFO"){
      color = 'bg-purple'
      icon = 'ri-computer-line'
    }else if (type == "SPEEDTEST"){
      color = 'bg-warning'
      icon = 'ri-dashboard-2-line'
    }

    checks.innerHTML += '<div class=\"col-md-4 col-xl-2 d-flex align-items-stretch\">'+
      '<a href=\"/check/'+agentChecks[i].id+'\" class=\"card '+color+' text-white w-100 card-hover\">'+
        '<div class=\"card-body\">'+
          '<div class=\"d-flex align-items-center\">'+
            '<span class=\"'+icon+' display-6\"></span>'+
            '<div class=\"ms-auto\">'+
              '<span class=\"mdi mdi-arrow-right display-8\"></span>'+
            '</div>'+
          '</div>'+
          '<div class=\"mt-4\">'+
            '<h4 class=\"card-title mb-1 text-white\">'+agentChecks[i]["type"].toLowerCase()+'</h4>'+
            '<h6 class=\"card-text fw-normal text-white-50\">'+
              desc+
            '</h6>'+
          '</div>'+
        '</div>'+
      '</a>'+
    '</div>';
  }
</script></div>