<div class="page-titles">
    <div class="row">
        <div class="col-lg-8 col-md-6 col-12 align-self-center">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 d-flex align-items-center">
                    <li class="breadcrumb-item">
                        <a class="link" href="/home"><i class="ri-home-3-line fs-5"></i></a>
                    </li>
                    {{if .siteSelected}}
                    <li class="breadcrumb-item">
                        {{.siteName}}
                    </li>
                    {{end}}
                    <li aria-current="page" class="breadcrumb-item active">
                        {{.title}}
                    </li>
                </ol>
            </nav>
            <h1 class="mb-0 fw-bold">{{.title}}</h1>
        </div>

        <div class="
                col-lg-4 col-md-6
                d-none d-md-flex
                align-items-center
                justify-content-end
              ">
            <a class="btn btn-info d-flex align-items-center ms-2" href="/site/new">
                <i class="ri-add-line me-1"></i>
                new agent
            </a>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">new check</h4>
                </div>
                <form action="/check/new/{{.agentId}}" class="form-horizontal r-separator border-top" method="post">
                    <div class="card-body">
                        <div class="form-group row align-items-center mb-0">
                            <label class="col-3 text-end control-label col-form-label" for="type">type</label>
                            <div class="col-9 border-start pb-2 pt-2">
                                <select class="form-control form-select" id="type" name="type">
                                    <option>--- select type ---</option>
                                    <option>MTR</option>
                                    <option>RPERF</option>
                                    <option>PING</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row align-items-center mb-0" id="targetBlock">
                            <label class="col-3 text-end control-label col-form-label" for="target">target</label>
                            <div class="col-9 border-start pb-2 pt-2">
                                <input class="form-control" id="target" name="target"
                                       placeholder="target (refer to docs, invalid format will not be accepted)"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group row align-items-center mb-0" id="rperfServerEnableBlock">
                            <label class="col-3 text-end control-label col-form-label"
                                   for="rperfServerEnable">server</label>
                            <div class="col-9 border-start pb-2 pt-2">
                                <div class="form-check">
                                    <input class="form-check-input" id="rperfServerEnable"
                                           name="rperfServerEnable"
                                           type="checkbox" value="">
                                    <label class="form-check-label" for="rperfServerEnable">
                                        enable rperf server
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row align-items-center mb-0" id="durationBlock">
                            <label class="col-3 text-end control-label col-form-label" for="duration">duration</label>
                            <div class="col-9 border-start pb-2 pt-2">
                                <input class="form-control" id="duration" name="duration" type="number" value="60">
                            </div>
                        </div>
                        <div class="form-group row align-items-center mb-0" id="countBlock">
                            <label class="col-3 text-end control-label col-form-label" for="count">count</label>
                            <div class="col-9 border-start pb-2 pt-2">
                                <input class="form-control" id="count" name="count" type="number" value="0">
                            </div>
                        </div>
                        <div class="form-group row align-items-center mb-0" id="intervalBlock">
                            <label class="col-3 text-end control-label col-form-label" for="interval">interval</label>
                            <div class="col-9 border-start pb-2 pt-2">
                                <input class="form-control" id="interval" name="interval" type="number" value="0">
                            </div>
                        </div>
                    </div>
                    <div class="p-3 border-top">
                        <div class="form-group mb-0 text-end">
                            <button class="
                          btn btn-info
                          rounded-pill
                          px-4
                          waves-effect waves-light
                        " type="submit">
                                create
                            </button>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        // listen for check type change
        let checkType = document.getElementById('type');

        let rperfServerEnable = document.getElementById('rperfServerEnableBlock');
        let duration = document.getElementById('durationBlock');
        let count = document.getElementById('countBlock');
        let target = document.getElementById('targetBlock');
        let interval = document.getElementById('intervalBlock');

        target.style.visibility = "hidden";
        duration.style.visibility = "hidden";
        rperfServerEnable.style.visibility = "hidden";
        count.style.visibility = "hidden";
        interval.style.visibility = "hidden";

        checkType.onchange = (event) => {

            let typeT = event.target.value;

            if (typeT.includes("---")) {
                target.style.visibility = "hidden";
                duration.style.visibility = "hidden";
                rperfServerEnable.style.visibility = "hidden";
                count.style.visibility = "hidden";
                interval.style.visibility = "hidden";

            } else if (typeT.includes("MTR")) {
                target.style.visibility = "visible";
                duration.style.visibility = "hidden";
                rperfServerEnable.style.visibility = "hidden";
                count.style.visibility = "hidden";
                interval.style.visibility = "hidden";

            } else if (typeT.includes("RPERF")) {
                target.style.visibility = "visible";
                duration.style.visibility = "visible";
                rperfServerEnable.style.visibility = "visible";
                count.style.visibility = "hidden";
                interval.style.visibility = "hidden";

            } else if (typeT.includes("PING")) {
                target.style.visibility = "visible";
                duration.style.visibility = "hidden";
                rperfServerEnable.style.visibility = "hidden";
                count.style.visibility = "hidden";
                interval.style.visibility = "hidden";

            }
        }

    </script>
</div>