<div class="page-titles">
    <div class="row">
        <div class="col-lg-8 col-md-6 col-12 align-self-center">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 d-flex align-items-center">
                    <li class="breadcrumb-item">
                        <a href="/home" class="link"><i class="ri-home-3-line fs-5"></i></a>
                    </li>
                    {{if .siteSelected}}
                    <li class="breadcrumb-item">
                        {{.siteName}}
                    </li>
                    {{end}}
                    <li class="breadcrumb-item active" aria-current="page">
                        {{.title}}
                    </li>
                </ol>
            </nav>
            <h1 class="mb-0 fw-bold">{{.title}} - icmp graphs</h1>
        </div>

        <div class="
                col-lg-4 col-md-6
                d-none d-md-flex
                align-items-center
                justify-content-end
              ">
            <a href="/icmp/{{.agentId}}" class="btn btn-info d-flex align-items-center ms-2">
                <i class="fa fa-globe"></i>
                view icmp
            </a>
            <a href="/iperf/{{.agentId}}" class="btn btn-info d-flex align-items-center ms-2">
                <i class="mdi mdi-lan-pending"></i>
                iperf
            </a>
            <a href="/iperf/{{.agentId}}" class="btn btn-info d-flex align-items-center ms-2">
                <i class="bi-file-bar-graph"></i>
                host stats
            </a>
        </div>

    </div>
</div>

<div class="container-fluid">
    <!-- ============================================================= -->
    <!-- Start Page Content -->
    <!-- ============================================================= -->
    <div class="row">
        <!-- column -->
        <div class="col-lg-12" id="icmpGraphs">
            <!--<div class="card" id="cardTARGET">
                <div class="border-bottom title-part-padding">
                    <h4 class="mb-0">ADDRESS</h4>
                </div>
                <div class="card-body">
                    <div>
                        <div class="chartjs-size-monitor"
                             style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                            <div class="chartjs-size-monitor-expand"
                                 style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                            </div>
                            <div class="chartjs-size-monitor-shrink"
                                 style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                <div style="position:absolute;width:200%;height:200%;left:0; top:0">
                                </div>
                            </div>
                        </div>
                        <canvas class="chartjs-render-monitor" height="297" id="ADDRESS"
                                style="display: block; width: 595px; height: 297px;"
                                width="595"></canvas>
                    </div>
                </div>
            </div>-->
        </div>
        <!-- column -->
    </div>
    <!-- ============================================================= -->
    <!-- End PAge Content -->
    <!-- ============================================================= -->
    <script>
        const getOrCreateTooltip = (chart) => {
            let tooltipEl = chart.canvas.parentNode.querySelector('div');

            if (!tooltipEl) {
                tooltipEl = document.createElement('div');
                tooltipEl.style.background = 'rgba(0, 0, 0, 0.7)';
                tooltipEl.style.borderRadius = '3px';
                tooltipEl.style.color = 'white';
                tooltipEl.style.opacity = 1;
                tooltipEl.style.pointerEvents = 'none';
                tooltipEl.style.position = 'absolute';
                tooltipEl.style.transform = 'translate(-50%, 0)';
                tooltipEl.style.transition = 'all .1s ease';

                const table = document.createElement('table');
                table.style.margin = '0px';

                tooltipEl.appendChild(table);
                chart.canvas.parentNode.appendChild(tooltipEl);
            }

            return tooltipEl;
        };

        const externalTooltipHandler = (context) => {
            // Tooltip Element
            const {chart, tooltip} = context;
            const tooltipEl = getOrCreateTooltip(chart);

            // Hide if no tooltip
            if (tooltip.opacity === 0) {
                tooltipEl.style.opacity = 0;
                return;
            }

            // Set Text
            if (tooltip.body) {
                const titleLines = tooltip.title || [];
                const bodyLines = tooltip.body.map(b => b.lines);

                const tableHead = document.createElement('thead');

                titleLines.forEach(title => {
                    const tr = document.createElement('tr');
                    tr.style.borderWidth = 0;

                    const th = document.createElement('th');
                    th.style.borderWidth = 0;
                    const text = document.createTextNode(title);

                    th.appendChild(text);
                    tr.appendChild(th);
                    tableHead.appendChild(tr);
                });

                const tableBody = document.createElement('tbody');
                bodyLines.forEach((body, i) => {
                    const colors = tooltip.labelColors[i];

                    const span = document.createElement('span');
                    span.style.background = colors.backgroundColor;
                    span.style.borderColor = colors.borderColor;
                    span.style.borderWidth = '2px';
                    span.style.marginRight = '10px';
                    span.style.height = '10px';
                    span.style.width = '10px';
                    span.style.display = 'inline-block';

                    const tr = document.createElement('tr');
                    tr.style.backgroundColor = 'inherit';
                    tr.style.borderWidth = 0;

                    const td = document.createElement('td');
                    td.style.borderWidth = 0;

                    const text = document.createTextNode(body);

                    td.appendChild(span);
                    td.appendChild(text);
                    tr.appendChild(td);
                    tableBody.appendChild(tr);
                });

                const tableRoot = tooltipEl.querySelector('table');

                // Remove old children
                while (tableRoot.firstChild) {
                    tableRoot.firstChild.remove();
                }

                // Add new children
                tableRoot.appendChild(tableHead);
                tableRoot.appendChild(tableBody);
            }

            const {offsetLeft: positionX, offsetTop: positionY} = chart.canvas;

            // Display, position, and set styles for font
            tooltipEl.style.opacity = 1;
            tooltipEl.style.left = positionX + tooltip.caretX + 'px';
            tooltipEl.style.top = positionY + tooltip.caretY + 'px';
            tooltipEl.style.font = tooltip.options.bodyFont.string;
            tooltipEl.style.padding = tooltip.options.padding + 'px ' + tooltip.options.padding + 'px';
        };

        let dataJson = JSON.parse('{{.icmpMetrics}}')
        let data = []

        for (let i = 0; i < dataJson.length; i++) {
            for (let i2 = 0; i2 < dataJson[i].data.length; i2++) {
                let item = dataJson[i].data[i2]

                if (data.filter(e => e.address === item.address).length > 0) {
                    console.log("1 multiple addresses match")
                }

                let index = data.findIndex(e => e.address == item.address);
                if (index == -1) {
                    let row = document.getElementById("icmpGraphs")
                    row.innerHTML += '<div class="card" id="card'+item.address.replaceAll(".", "")+'">' +
                        '                <div class="border-bottom title-part-padding">' +
                        '                    <h4 class="mb-0">'+item.address+'</h4>' +
                        '                </div>' +
                        '                <div class="card-body">' +
                        '                    <div>' +
                        '                        <div class="chartjs-size-monitor"' +
                        '                             style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">' +
                        '                            <div class="chartjs-size-monitor-expand"' +
                        '                                 style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">' +
                        '                                <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>' +
                        '                            </div>' +
                        '                            <div class="chartjs-size-monitor-shrink"' +
                        '                                 style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">' +
                        '                                <div style="position:absolute;width:200%;height:200%;left:0; top:0">' +
                        '                                </div>' +
                        '                            </div>' +
                        '                        </div>' +
                        '                        <canvas class="chartjs-render-monitor" height="297" id="graph'+item.address.replaceAll(".", "")+'"' +
                        '                                style="display: block; width: 595px; height: 297px;"' +
                        '                                width="595"></canvas>' +
                        '                    </div>' +
                        '                </div>' +
                        '            </div>'
                    
                    console.log("nothing found... creating...")
                    data.push({
                        "address": item.address,
                        "data": {"latAvg": [], "latMax": [], "latMin": [], "percentLoss": []}
                    })
                    index = data.length - 1
                }

                let min = item.result.metrics.min
                if (min.includes("us")) {
                   min = parseInt(min.replaceAll("us", ""))/1000
                }else{
                    min = parseInt(min.replaceAll("ms", ""))
                }
                let max = item.result.metrics.max
                if (max.includes("us")) {
                    max = parseInt(max.replaceAll("us", ""))/1000
                }else{
                    max = parseInt(max.replaceAll("ms", ""))
                }
                let avg = item.result.metrics.avg
                if (avg.includes("us")) {
                    avg = parseInt(avg.replaceAll("us", ""))/1000
                }else{
                    avg = parseInt(avg.replaceAll("ms", ""))
                }
                let loss = item.result.metrics.loss

                console.log(min + " - " + max + " - " + avg + " - " + loss)

                data[index].data.latMax.push({
                    x: item.result.stop_timestamp,
                    y: max
                })

                data[index].data.latAvg.push({
                    x: item.result.stop_timestamp,
                    y: avg
                })

                data[index].data.latMin.push({
                    x: item.result.stop_timestamp,
                    y: min
                })
                data[index].data.percentLoss.push({
                    x: item.result.stop_timestamp,
                    y: loss
                })
            }
        }

        console.log(data)

        for (let i = 0; i < data.length; i++) {
            console.log(data[i].data)
            generateChart(data[i].address, data[i].data)
        }

        //Line Chart

        function generateChart(address, d) {
            let c = new Chart(document.getElementById('graph'+address.replaceAll(".", "")), {
                type: "line",
                data: {
                    //labels: timeStamps,
                    title: address,
                    datasets: [
                        {
                            data: d.latAvg,
                            label: "Average Latency",
                            borderColor: "#3e95cd",
                            backgroundColor: "#3e95cd",
                            fill: false,
                        },
                        {
                            data: d.latMax,
                            label: "Maximum Latency",
                            borderColor: "#a4d7f3",
                            fillColor: "#ffffff",
                            backgroundColor: "#ffffff",
                            fill: true,
                        },
                        {
                            data: d.percentLoss,
                            label: "Loss %",
                            borderColor: "#ff2028",
                            fillColor: "#ff9999",
                            backgroundColor: "#ff9999",
                            fill: true,
                        },
                        {
                            data: d.latMin,
                            label: "Minimum Latency",
                            borderColor: "#5fff20",
                            fillColor: "#c4ffb9",
                            backgroundColor: "#c4ffb9",
                            fill: true,
                        },
                    ],
                },
                interaction: {
                    mode: 'index',
                    intersect: false,
                },
                options: {
                    scales: {
                        y: [{
                            ticks: {
                                fontColor: "#b2b9bf",
                                fontSize: 12,
                            },
                        }],
                        x: [{
                            display: true,
                            type: 'time',
                            time: {
                                parser: 'YYYY-MM-DDTHH:mm:ss',
                                tooltipFormat: 'll HH:mm',
                                unit: 'day',
                                unitStepSize: 1,
                                displayFormats: {
                                    'day': 'MM/DD/YYYY'
                                }
                            },
                            ticks: {
                                autoSkip: true,
                                maxTicksLimit: 5,
                                fontColor: "#b2b9bf",
                                fontSize: 12,
                            },
                        }],
                    },
                    plugins: {
                        title: {
                            display: true,
                            text: 'icmp'
                        },
                        tooltip: {
                            enabled: false,
                            position: 'nearest',
                            external: externalTooltipHandler
                        }
                    }
                },
            });
        }
    </script>
</div>