<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Table -->
    <!-- ============================================================== -->
    <div class="row">
        <!-- column -->
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <!-- title -->
                    <div class="d-md-flex">
                        <div>
                            <h4 class="card-title">Sites</h4>
                            <h5 class="card-subtitle">Overview of Sites</h5>
                        </div>
                        <!--<div class="ms-auto">
                            <div class="dl">
                                <select class="form-select shadow-none">
                                    &lt;!&ndash;&ndash;&gt;
                                    <option value="0">Status</option>
                                    <option value="1">Name</option>
                                    <option value="2">Location</option>
                                    <option value="3">ISP</option>
                                    <option value="3">Types</option>
                                </select>
                            </div>
                        </div>-->
                    </div>
                    <!-- title -->
                    <div class="table-responsive">
                        <table class="table mb-0 table-hover align-middle text-nowrap">
                            <thead>
                            <tr>
                                <!--TODO make custom icons for this or something to indicate wether it's online or not-->
                                <th class="border-top-0">Status</th>
                                <th class="border-top-0">Name</th>
                                <th class="border-top-0">Location</th>
                                <th class="border-top-0">ISP</th>
                                <th class="border-top-0">Type</th>
                                <th class="border-top-0">Last Seen</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <label class="badge bg-success">Online</label>
                                </td>
                                <td>TOPS</td>
                                <td>Kelowna, BC</td>
                                <td>Telus</td>
                                <td>MacOS - Dev</td>
                                <td>
                                    <label class="badge bg-info">13s ago</label>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Table -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Recent comment and chats -->
    <!-- ============================================================== -->
    <!--<div class="row">
        &lt;!&ndash; column &ndash;&gt;
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Recent Comments</h4>
                </div>
                <div class="comment-widgets scrollable">
                    &lt;!&ndash; Comment Row &ndash;&gt;
                    <div class="d-flex flex-row comment-row m-t-0">
                        <div class="p-2"><img src="../../public/images/users/1.jpg" alt="user" width="50"
                                              class="rounded-circle"></div>
                        <div class="comment-text w-100">
                            <h6 class="font-medium">James Anderson</h6>
                            <span class="m-b-15 d-block">Lorem Ipsum is simply dummy text of the printing
                                            and type setting industry. </span>
                            <div class="comment-footer">
                                <span class="text-muted float-end">April 14, 2021</span> <span
                                    class="badge bg-primary">Pending</span> <span
                                    class="action-icons">
                                                <a href="javascript:void(0)"><i class="ti-pencil-alt"></i></a>
                                                <a href="javascript:void(0)"><i class="ti-check"></i></a>
                                                <a href="javascript:void(0)"><i class="ti-heart"></i></a>
                                            </span>
                            </div>
                        </div>
                    </div>
                    &lt;!&ndash; Comment Row &ndash;&gt;
                    <div class="d-flex flex-row comment-row">
                        <div class="p-2"><img src="../../public/images/users/4.jpg" alt="user" width="50"
                                              class="rounded-circle"></div>
                        <div class="comment-text active w-100">
                            <h6 class="font-medium">Michael Jorden</h6>
                            <span class="m-b-15 d-block">Lorem Ipsum is simply dummy text of the printing
                                            and type setting industry. </span>
                            <div class="comment-footer ">
                                <span class="text-muted float-end">April 14, 2021</span>
                                <span class="badge bg-success">Approved</span>
                                <span class="action-icons active">
                                                <a href="javascript:void(0)"><i class="ti-pencil-alt"></i></a>
                                                <a href="javascript:void(0)"><i class="icon-close"></i></a>
                                                <a href="javascript:void(0)"><i class="ti-heart text-danger"></i></a>
                                            </span>
                            </div>
                        </div>
                    </div>
                    &lt;!&ndash; Comment Row &ndash;&gt;
                    <div class="d-flex flex-row comment-row">
                        <div class="p-2"><img src="../../public/images/users/5.jpg" alt="user" width="50"
                                              class="rounded-circle"></div>
                        <div class="comment-text w-100">
                            <h6 class="font-medium">Johnathan Doeting</h6>
                            <span class="m-b-15 d-block">Lorem Ipsum is simply dummy text of the printing
                                            and type setting industry. </span>
                            <div class="comment-footer">
                                <span class="text-muted float-end">April 14, 2021</span>
                                <span class="badge bg-danger">Rejected</span>
                                <span class="action-icons">
                                                <a href="javascript:void(0)"><i class="ti-pencil-alt"></i></a>
                                                <a href="javascript:void(0)"><i class="ti-check"></i></a>
                                                <a href="javascript:void(0)"><i class="ti-heart"></i></a>
                                            </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        &lt;!&ndash; column &ndash;&gt;
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Temp Guide</h4>
                    <div class="d-flex align-items-center flex-row m-t-30">
                        <div class="display-5 text-info"><i class="wi wi-day-showers"></i>
                            <span>73<sup>°</sup></span></div>
                        <div class="m-l-10">
                            <h3 class="m-b-0">Saturday</h3><small>Ahmedabad, India</small>
                        </div>
                    </div>
                    <table class="table no-border mini-table m-t-20">
                        <tbody>
                        <tr>
                            <td class="text-muted">Wind</td>
                            <td class="font-medium">ESE 17 mph</td>
                        </tr>
                        <tr>
                            <td class="text-muted">Humidity</td>
                            <td class="font-medium">83%</td>
                        </tr>
                        <tr>
                            <td class="text-muted">Pressure</td>
                            <td class="font-medium">28.56 in</td>
                        </tr>
                        <tr>
                            <td class="text-muted">Cloud Cover</td>
                            <td class="font-medium">78%</td>
                        </tr>
                        </tbody>
                    </table>
                    <ul class="row list-style-none text-center m-t-30">
                        <li class="col-3">
                            <h4 class="text-info"><i class="wi wi-day-sunny"></i></h4>
                            <span class="d-block text-muted">09:30</span>
                            <h3 class="m-t-5">70<sup>°</sup></h3>
                        </li>
                        <li class="col-3">
                            <h4 class="text-info"><i class="wi wi-day-cloudy"></i></h4>
                            <span class="d-block text-muted">11:30</span>
                            <h3 class="m-t-5">72<sup>°</sup></h3>
                        </li>
                        <li class="col-3">
                            <h4 class="text-info"><i class="wi wi-day-hail"></i></h4>
                            <span class="d-block text-muted">13:30</span>
                            <h3 class="m-t-5">75<sup>°</sup></h3>
                        </li>
                        <li class="col-3">
                            <h4 class="text-info"><i class="wi wi-day-sprinkle"></i></h4>
                            <span class="d-block text-muted">15:30</span>
                            <h3 class="m-t-5">76<sup>°</sup></h3>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>-->
    <!-- ============================================================== -->
    <!-- Recent comment and chats -->
    <!-- ============================================================== -->
</div>