<!DOCTYPE html>
<html dir="ltr">
{{template "partials/header" .}}
<body>
<div class="auth-wrapper">
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div class="auth-box">
        <div class="auth-box text-center">
            <h1 class="text-info">login</h1>
        </div>
    </div>
</div>
<script src="/libs/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script>
    $(".preloader").fadeOut();
</script>
</body>

</html>