<div class="container-fluid">
    <div class="row">
        <!-- column -->
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <!-- title -->
                    <div class="d-md-flex">
                        <div>
                            <h4 class="card-title">sites</h4>
                            <h5 class="card-subtitle">an overview of the sites you have access to</h5>
                        </div>
                    </div>
                    <!-- title -->
                    <div class="table-responsive">
                        <div class="table-responsive mt-4">
                            <table class="
                        table
                        mb-0
                        text-nowrap
                        varient-table
                        align-middle
                        fs-3
                      " id="stats">
                                <thead>
                                <tr>
                                    <th class="px-0 text-muted" scope="col">name</th>
                                    <th class="px-0 text-muted" scope="col">agents</th>
                                    <th class="px-0 text-muted text-end" scope="col">view</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>